

#cases-studies  {
  box-sizing: border-box;
    margin-left: 0;
    margin-right: 320px;
    color: #005192;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px
}


.teaser ul {

  margin-bottom: 23px;
  padding: 0;
  list-style-type: none;
  flex-flow: row wrap;
    position: relative;
    box-sizing: border-box;
    display: flex;

}